# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Chroma/FAISS vector DB
backend/retriever/chroma_db/
backend/retriever/faiss_db/

# Uploaded files and temp data
backend/data/ 